{{ $styleAboutUs := .Params.styleAboutUs }}

{{ "<!-- About Us Section -->" | safeHTML }}
<section class="about-us-section">

    <div class="container">
        <div class="row">

        {{ with .Site.Data.about.aboutUs }}
        {{ if .enable }}

            {{ if eq $styleAboutUs "text" }}

                <h3 class="title-section">{{ .title1 }}</h3>
                <div class="col-md-6">
                    <div class="about-description">
                        {{ .text1 | safeHTML }}
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="about-skillbar">
                        {{ range .skillbar }}
                        <div class="skillbar" data-percent="{{ .num }}">
                            <div class="skillbar-title">
                                <h5>{{ .title }}</h5>
                            </div>
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">{{ .num }}</div>
                        </div>
                        {{ end }}
                    </div>
                </div>

            {{ end }}

            {{ if eq $styleAboutUs "image" }}

                <div class="col-md-6">
                    <img src="{{ .profileImage | absURL }}">
                </div>
        
                <div class="col-md-6">
                    <div class="about-description">
                        <h5>{{ .title2 }}</h5>
                        {{ .text2 | safeHTML }}
                        <h5>{{ .title3 }}</h5>
                        {{ .text3 | safeHTML }}
                        <h5>{{ .title4 }}</h5><br>
                    </div>
                    <div class="about-skillbar">
                        {{ range .skillbar }}
                        <div class="skillbar" data-percent="{{ .num }}">
                            <div class="skillbar-title">
                                <h5>{{ .title }}</h5>
                            </div>
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">{{ .num }}</div>
                        </div>
                        {{ end }}
                    </div>
                </div>

            {{ end }}

        {{ end }}
        {{ end }}
        

        </div>
    </div>

</section>