{{ with .Site.Data.pages.chat}}
{{ if .enable }}

{{ "<!-- Chat Section -->" | safeHTML }}
<div class="chat-section">
  <div class="container">
    <div class="row gy-5 align-items-center">

      <div class="col-md-7 text-center">
         <img src="{{ .chatImage | absURL }}">
      </div>

      <div class="col-md-5">
        <h4>{{ .title1 }}</h4>
        <h2>{{ .title2 }}</h2>
        {{ .text | safeHTML }}
        <a href="{{ .buttonLink | absLangURL }}" class="chat-button" rel="noopener">{{ .buttonText }} <i class="fa-solid fa-angle-right"></i></a>
      </div>

    </div>
  </div>
</div>

{{ end }}
{{ end }}
