{{ $noPadding := .Params.noPadding }}

{{ with .Site.Data.pages.services}}
{{ if .enable }}

{{ "<!-- Services Section -->" | safeHTML }}
<div class="services-section {{ if eq $noPadding "show" }} pt-0 pb-0 {{ end }}">
  <div class="container">
    <div class="row gy-5">
            <div class="started-description">
                <h2>{{ .title }}</h2>
                {{ .text | safeHTML }}
            </div>
            {{ range .items }}
            <div class="col-md-4">
            <div class="services-box">
                <div class="icon"><i aria-hidden="true" class="{{ .icon }}"></i></div>
                <h4>{{ .title }}</h4>
                {{ .text | safeHTML }}
            </div>
            </div>
            {{ end }}

    </div>
  </div>
</div>

{{ end }}
{{ end }}
